.students-top{
    display: flex;
    justify-content: right;
}
.students-top button{
    font-family: "Inter";
    font-size: 11px;
    font-size: 600;
    color: white;
    background-color: #263238;
    padding: 12px 50px;
    border-radius: 5px;
    border: none;
}
.students-body{
    margin-top: 14px;
    background-color: #E5ECF6;
    padding: 24px 48px;
    border-radius: 5px;
}
.students-table-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.students-table-body{
    margin-top: 38px;
}
.students-info h4{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 700;
    color: #298097;
}
.students-info p{
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 500;
    color: #16C098;
}
.students-filter{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 21px;
}
.students-filter:first-child{
    width: 65%;
}
.students-select{
    width: 40% !important;
}
.students-search{
    width: 60%;
    padding: 10px 12px;
    background-color: #F9FBFF;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.students-search svg{
    font-size: 16px;
    font-weight: 500;
    color: #7E7E7E;
}
.students-search input{
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    color: #B5B7C0;
}
.students-search input::placeholder{
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    color: #B5B7C0;
}
.students-search p{
    width: 50%;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    color: #7E7E7E;
}
.students-search select{
    /* width: 78%; */
    border: none;
    background-color: transparent;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 800;
    color: #3D3C42;
}